input {
    width: 797px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

.adicionar {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.remover {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.mostrar {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.salvar {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
