.adicionar {
    width: 150px;
    height: 50px;
    font-size: 18px;
}
.remover {
    width: 150px;
    height: 50px;
    font-size: 18px;
}
.mostrar {
    width: 150px;
    height: 50px;
    font-size: 18px;
}
.salvar {
    width: 150px;
    height: 50px;
    font-size: 18px;
}
